<div class="post">
  {% if post.og-image %}
  <img src="/assets/images/{{post.og-image}}" alt="{{ post.title }}">
  {% endif %}
  {% if post.og-image-ext %}
  <img src="{{post.og-image-ext}}" alt="{{ post.title }}">
  {% endif %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <p class="lead">
    {{ post.excerpt }}
  </p>
  {% for category in post.categories %}
  <a class="badge badge-dark" href="/category/{{ category }}">#{{ category }}</a>
  {% endfor %}
  <div class="article-meta">
    {% assign author_pic_size = 50 %}
    {% assign author = site.authors | where: 'short_name', post.author | first %}

    <!-- Profile Picture -->
    <div class="profile-pic rounded-circle" style="height: {{ author_pic_size }}px;width: {{ author_pic_size }}px;overflow: hidden;padding: 0;margin: 0;">
      {% if author.social.profile-pic %}
      <img class="img-fluid" src="{{ author.social.profile-pic }}" alt="{{ author.name }}">
      {% else %}
      <div class="dummy-profile" style="height: {{ author_pic_size }}px; width: {{ author_pic_size }}px; padding: 12px;">{{author.name | truncate: 1, ''}}</div>
      {% endif %}
    </div>

    <!-- Written by -->
    <div class="meta-group flex-grow-1">
      <div class="meta-group-subtitle">
        Author
      </div>
      <div class="meta-group-main">
        <a href="{{ author.url }}" rel="author">{{ author.name }}</a>
      </div>
    </div>

    <!-- Updated by -->
    {% if post.updated %}
    <div class="meta-group">
      <div class="meta-group-subtitle">
        Updated
      </div>
      <div class="meta-group-main">
        {{ post.updated | date: "%b %e, %Y" }}
      </div>
    </div>
    {% endif %}

    <!-- Published on -->
    <div class="meta-group">
        <div class="meta-group-subtitle">
          Published
        </div>
        <div class="meta-group-main">
          {{ post.date | date: "%b %e, %Y" }}
        </div>
      </div>
  </div>
</div>
