// Colors
$primary-light: #63aaf2;
$primary-dark: #1d4ade;

// Grays
$black: #000000;
$darkerGray: #222222;
$darkGray: #333333;
$gray: #666666;
$lightGray: #eeeeee;
$white: #ffffff;

// Font stacks
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: Georgia, serif;
