---
layout: default
---
{% assign author_pic_size = 70 %}

<div class="rounded-circle" style="height: {{ author_pic_size }}px;width: {{ author_pic_size }}px;overflow: hidden;padding: 0;margin: 0;">
{% if page.social.profile-pic %}
<img class="img-fluid" src="{{ page.social.profile-pic }}" alt="{{ page.name }}">
{% elsif page.social.github %}
{% avatar {{ page.social.github }} size={{ author_pic_size }} %}
{% else %}
<div class="dummy-profile" style="height: {{ author_pic_size }}px; width: {{ author_pic_size }}px; padding: 18px;">{{page.name | truncate: 1, ''}}</div>
{% endif %}
</div>

<h1>{{ page.name }}</h1>
<h2>{{ page.position }}</h2>

<h4>Social:</h4>
<ul>
  {% if page.social.email %}<li>Email</li>{% endif %}
  {% if page.social.github %}<li>GitHub</li>{% endif %}
  {% if page.social.linkedin %}<li>LinkedIn</li>{% endif %}
</ul>

{{ content }}

<h2>Posts</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>