---
layout: default
---

<div class="row">
  <div class="col-10 offset-1 col-lg-8 offset-lg-2">
    <article>
      <h1>{{ page.title }}</h1>

      <hr>

      <div class="article-meta">
        {% assign author_pic_size = 50 %}
        {% assign author = site.authors | where: 'short_name', page.author | first %}

        <!-- Profile Picture -->
        <div class="profile-pic rounded-circle" style="height: {{ author_pic_size }}px;width: {{ author_pic_size }}px;overflow: hidden;padding: 0;margin: 0;">
          {% if author.social.profile-pic %}
          <img class="img-fluid" src="{{ author.social.profile-pic }}" alt="{{ author.name }}">
          {% elsif author.social.github %}
          {% avatar {{ author.social.github }} size={{ author_pic_size }} %}
          {% else %}
          <div class="dummy-profile" style="height: {{ author_pic_size }}px; width: {{ author_pic_size }}px; padding: 18px;">{{author.name | truncate: 1, ''}}</div>
          {% endif %}
        </div>

        <!-- Written by -->
        <div class="meta-group">
          <div class="meta-group-subtitle">
            Author
          </div>
          <div class="meta-group-main">
            <a href="{{ author.url }}" rel="author">{{ author.name }}</a>
          </div>
        </div>

        <!-- Published on -->
        <div class="meta-group">
            <div class="meta-group-subtitle">
              Published
            </div>
            <div class="meta-group-main">
              {{ page.date | date: "%b %e, %Y" }}
            </div>
          </div>

        <!-- Updated by -->
        {% if page.updated %}
        <div class="meta-group">
          <div class="meta-group-subtitle">
            Updated
          </div>
          <div class="meta-group-main">
            {{ page.updated | date: "%b %e, %Y" }}
          </div>
        </div>
        {% endif %}
      </div>

      <hr>

      {{ content }}

    </article>

    <hr>

    Categories:
    {% for category in page.categories %}
    <a href="/category/{{ category }}">#{{ category }}</a>
    {% endfor %}

  </div>
</div>