---
layout: page
title: Articles
clickbait: Check out the best from our community!
---

<!-- Loops through paginated posts -->
{% for post in paginator.posts %}
  {% include post_preview.html %}
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<nav aria-label="Pagination">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.previous_page_path }}">Previous</a>
    </li>
    {% endif %}
    <li class="page-item disabled">
      <span class="page-link">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </a>
    </li>
    {% if paginator.next_page %}
    <li class="page-item">
      <a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
